h1{
    font-size: 90px;
    font-size: 80px;
}
footer{
    background-color: #fffd8c;
    max-width: 1200px;
    text-align": left;
}
.logo-image {
    width:60px;
    width:100px;
}
.container{
    background-color: #ff77ff;
}